extends layout

block content

  div(class="pb-5")
    div(id="carouselExampleIndicators" class="carousel slide" data-ride="carousel")
      ol(class="carousel-indicators")
        li(data-target="#carouselExampleIndicators" data-slide-to="0" class="active")
        li(data-target="#carouselExampleIndicators" data-slide-to="1")
        li(data-target="#carouselExampleIndicators" data-slide-to="2")
      div(class="carousel-inner")
        div(class="carousel-item")
          img(src="/images/hamburger.jpg" class="d-block w-100" alt="hamburger")
        div(class="carousel-item active")
          img(src="/images/ramen.jpg" class="d-block w-100" alt="ramen")
        div(class="carousel-item")
          img(src="/images/donburi.jpg" class="d-block w-100" alt="donburi")
      a(class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev")
        span(class="carousel-control-prev-icon" aria-hidden="true")
        span(class="sr-only") Previous
      a(class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next")
        span(class="carousel-control-next-icon" aria-hidden="true")
        span(class="sr-only") Next
      div(class="card-img-overlay top-catchword")
        h2 #[span.intensify-catch オリジナルの#[strong グルメマップ]を作って、]
        h2 #[span.intensify-catch #[strong 美味しい生活]を過ごそう! ]

  div
    p ふと、これから飲みに行こうとした時にスマホでお店を探すと時間がかかりませんか?#[br] また、食べに行きたいと思ったお店を忘れてしまい、しばらく経った後に思い出すということはありませんか?
    p stampは気になるお店に #[strong マーカー] を付けて #[strong 保存] することができます。#[br]オリジナルのグルメマップを作成しておくことで、いざという時に素早く #[strong イチオシのお店] を探せます。
  br
  br

  div 
    h3 #[span.heading グルメマップ 作成例 ]
    br
    h4 【新宿】おすすめラーメン10選
    div(id="mapid")
    br
    p このサイトについてのコメントは #[a(href="../comment") こちらまで]

  
  script(type='text/javascript' src="javascripts/map.js")


  
