extends layout

block content
  div(class="request-form")
    form(action="/login" method="post")
      input(type="email" name="email" required placeholder="Email")
      br
      input(type="password" name="password" required placeholder="Password")
      br
      button(type="submit") ログイン
  if typeof noUser !== 'undefined'
    p(class="request-no-match")= noUser
  div(class="register-notyet")
    if register
      span 登録は、#[a(href="../../register") こちら]から
  div(class="test-logininfo")
    p 
      small ※テストログイン情報
      br
      small Email: test@test.com, Password: test