extends layout

block content
  div
    h2 #[span.heading #{title} ]
    form(action="/login" method="post")
      span Eメール : #[input(type="email" name="email" required)]
      br
      br
      span パスワード : #[input(type="password" name="password" required)]
      br
      br
      button(type="submit") ログイン
      if register
        span まだ登録されていない方は、#[a(href="../../register") こちら]から
    if typeof noUser !== 'undefined'
      p= noUser