extends layout

block content
  div(class="request-form")
    form(action="/register" method="post")
      input(type="text" name="user_name" required placeholder="User Name")
      br
      input(type="email" name="email" required placeholder="Email")
      br
      input(type="password" name="password" required placeholder="Password")
      br
      button(type="submit") 新規登録
  if typeof emailExists !== 'undefined'
    p(class="request-no-match")= emailExists
  div(class="login-notyet")
    if login
      span ログインは、#[a(href="../../login") こちら]から