extends layout

block content
  div
    h2= title
    form(action="/register" method="post")
      span ユーザー名 : #[input(type="text" name="user_name" required)]
      br
      br
      span Eメール : #[input(type="email" name="email" required)]
      br
      br
      span パスワード : #[input(type="password" name="password" required)]
      br
      br
      button(type="submit") 新規登録
    if typeof emailExists !== 'undefined'
      p= emailExists
    