extends layout

block content

  h2(class='heading-wrapper')
    span #{title}

  section
    if message
      p #{message}

  ul(class="maplist")
    if mapList
      each map in mapList
        li: a(href='../editmap/' + map.map_id)  #{map['map_name']}
  
