body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: brown;
}

.navbar-padding {
  margin-bottom: 1em;
}

.navbar-inner {
  background: transparent;
}

.navbar-brand-char {
  color: black;
  font-weight: 500;
  font-size: 1vw;
}

.navbar-left a:hover {
  color: black;
}

.navbar-left {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;

}

.logo-right {
  margin-right: 0.4em;
  margin-top: 0.4em;
}

.navbar-right {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
}

.navbar-menu {
  margin-right: 0.8em;
  color: #858782;
  font-weight: bold;
}

.navbar-right a:hover {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.top-catchword {
  font-size: 1vw;
  color: white;
  margin-top: 1em;
  margin-left: 1em;
}

.intensify-catch {
  background: linear-gradient(transparent 40%, #d16d16 0%);
}

.heading {
  background: linear-gradient(transparent 60%, #9ac29f 0%);
}

.login-user {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  font-size: 12px;
  border: 1px #ccc solid;
  background-color: #fff;
}

#search {
  padding: 10px;
  opacity: 1;
  position: absolute;
  z-index: 1;
}

#newmap {
  position: absolute;
  z-index: 1;
  padding: 1em;
  background: rgba(255,255,255,0.7);
  font-weight: bold;
}

#newmap-describe-top {
  font-size: 2vw;
  padding: 0;
}

#mapid {
  height: 600px;
  z-index: 0;
}

.marker {
  width: 20px !important;
  height: 20px !important;
  margin: -10px !important;
  border-radius: 10px;
  border: 3px solid #fdfdfd;
  box-shadow: 0 1px 4px rgba(0,0,0,0.8);
  background-color: #f20d0d;
  z-index: 20 !important;
}

.set-marker {
  width: 20px !important;
  height: 20px !important;
  margin: -10px !important;
  border-radius: 10px;
  border: 3px solid #fdfdfd;
  box-shadow: 0 1px 4px rgba(0,0,0,0.8);
  background-color: #0000cd;
  z-index: 20 !important;
}

.rest-wrap {
  margin: 2em 3em;
  display: flex;
  flex-wrap: wrap;
}

.rest-item {
  width: 30%;
  margin: 1em;
  padding: 1em;
  color: #5d627b;
  background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.rest-item-img {
  width: 93%;
  padding-bottom: 1em;
}

.rest-item-title {
  width: 93%;
}

#logout {
  padding-top: 1em;
}

#usercard {
  padding: 2em;
}

.userinfo {
  border: 1px solid #aaa;
  padding: 1em;
  display: flex;
  width: 22em;
  height: 10em;
  -webkit-align-items: center;
  align-items: center;
}

.userinfo-inner {
  padding: 1em;
}

.comment-form{
  padding: 1em;
}

#comment-input {
  width: 20em;
}

.button {
  border-radius: 5px;
  background-color: green;
  padding: 0.25em;
  margin: 0.5em;
  text-align: center;
  color: white;
}

.comment-form ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}

.comment-li {
  border-bottom: #5d627b solid 1px
}

.comment-form li {
  padding-top: 0.5em;
}

#index-recommendation {
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}

.heading-wrapper {
  margin-bottom: 0.8em;
}

.grunavi-logo {
  margin: 1em;
}

.maplist {
  list-style: none;
  padding: 0;
  margin-top: 1em;
}

.maplist li {
  padding-left: 1em;
  margin-bottom: 0.5em;
}

.createmarker {
  padding-left: 1em;
  opacity: 1;
  position: absolute;
  z-index: 1;
}

.editmarker {
  display: inline-flex;
  padding-left: 1em;
  opacity: 1;
  position: absolute;
  z-index: 1;
}

.editmarker-delete {
  padding-top: 0.1em;
}

.editmarker-delete-button {
  border-radius: 5px;
  background-color: red;
  padding: 0.25em;
  margin: 0.45em 0;
  text-align: center;
  color: white;
}

.request-form {
  padding: 1em;
}

.request-form input {
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 15em;
  margin-bottom: 1.5em;
}

.request-form input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.request-form button {
  background: #f16272;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out;
  width: 12.5em;
}

.request-form button:hover {
  background: #ee3e52;
}

.register-notyet {
  margin: 1em 0 1em 0;
}

.request-no-match {
  color: red;
  font-weight: bold;
}

.login-notyet {
  margin: 1em 0 1em 0;
}
